*{
 color : #22262A;
}


@media screen and (max-width:765px) {
    .navbar_links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vh;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: aqua;

    }
    .show-nav  {
        width: 100vw;
        right: 0;
        visibility: visible;
        display: block;
        padding: 1.5;
        font-size: 5vw;
        background-color: #A754F7;
        color :white !important;
    }

    
}