@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 
body {
    background-color: #FFF;
   
    font-family: 'Inter', sans-serif;
}

h1{
    font-size:52px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color : #001737;
    font-weight: 800;
}
.head-title{
    font-size:48px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color : #001737;
    font-weight: 800;
}
.title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    line-height: 41px;
    font-weight: 400;
}

.icons{
    font-size: 26px;
    
}
.icons :hover{
    color:#021A39;
}